<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>

    <div class="container">
        <div class="container-fluid">
            <h2>
                <%= movieList.title %>(<%= movieList.year %>)
            </h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= movieList.json.Poster %>"  alt="<%= movieList.title %>" onerror="if (this.src != 'error.jpg') this.src = 'http://7xtdxk.com2.z0.glb.clouddn.com/notfound.png';"/>
                </div>
          
                <div class="col-md-4">
                    <dl>
                        <dt>
                        <span ><span class='movie-text'>Director：</span>
                        </dt>
                        <dd>
                        <span ><span class='movie-text-content'><%= movieList.director %></span>
                        </dd>
                        <dt>
                        <span ><span class='movie-text'>Actor：</span>
                        </dt>
                        <dd>
                        <span ><span class='movie-text-content'><%= movieList.actors %></span>
                        </dd>
                        <dt>
                        <span ><span class='movie-text'>Release Year：</span>
                        </dt>
                        <dt>
                        <span ><span class='movie-text-content-alt'><%= movieList.year %></span>
                        </dt>
                        <dt>
                        <span ><span class='movie-text'>Genre：</span>
                        </dt>
                        <dt>
                        <span ><span class='movie-text-content-alt'><%= movieList.genre %></span>
                        </dt>
                    </dl>
                    
                </div>
                
                <div class="col-md-4">
                    <h3>
                    Rating:
                    </h3>
                    <h4 style="text-align: center;">
                    <span ><span class='strong-red-text'><%= movieList.json.imdbRating %></span>
                    </h4>
                    
                </div>
            </div>
            <br>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-lg">
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like
                    </button>
                    <h2>
                    Synopsis
                    </h2>
                    <p>
                    <%= movieList.json.Plot %>
                    </p>
                    <p>
                    <a class="btn" href="#">View details »</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>The People Who Like This Movie Also Like: </h2>
                    <% include ../partials/gallery %> 
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>The Recommend Movies: </h2>
                    <ul>
                        <% recMovies.forEach(function(movieObject){ %>
                        <a href="/movie/<%= movieObject.imdbId %>">
                        <li>Title: <%= movieObject.title %></li><br>
                        </a>
                        <% }); %>
                    </ul> 
                </div>
            </div>
        </div>

    <% include ../partials/footer %>
    <% include ../partials/scripts %>
    </body>

</html>
