<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <main class="row">
            <section class="col-sm-6">
                <h2>Search Results</h2>
                <br>
                <ul>
                    <% movieList.forEach(function(movieObject){ %>
                    <li>Title: <%= movieObject.title %></li><br>
                    <li>Year: <%= movieObject.year %></li><br>
                    <li>Rating: <%= movieObject.json.imdbRating %></li><br>
                    <li>Genre: <%= movieObject.genre %></li><br>
                    <li>director: <%= movieObject.director %></li><br>
                    <li>Actors: <%= movieObject.actors %></li><br>
                    <a href="/movie/<%= movieObject.imdbId %>">
                        <img src="<%= movieObject.json.Poster %>"  alt="<%= movieObject.title %>" />
                    </a>
                    
                    <% }); %>
                </ul>  
            </section>

        </main>
    </div>
    
    <% include ../partials/gallery %>
    
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    
    
    <% include ../partials/scripts %>
</body>

</html>