<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <main class="row">
            <section class="col-sm-8">
                
                <h2>Search Results</h2>
                <br>
                <% if (errorMessage) { %>
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <%= errorMessage %>
                    </div>
                <% } else { %>               
                <% movieList.forEach(function(movieObject){ %>
                <table width="100%" >
                    <tbody> 
                        <tr class="item">
                            <td width="100" valign="top" class="col-sm-4">
                                <a href="/movie/<%= movieObject.imdbId %>" >
                                    <img src="<%= movieObject.json.Poster %>"
                                    alt="<%= movieObject.title %>" onerror="if (this.src != 'error.jpg') 
                                    this.src = '/assets/resources/notfound.png';" 
                                    "width = "168" height="300"/>
                                </a>     
                            </td>
                            <td valign="top" class="col-sm-8">
                                <div class="pl2" >
                                    <li>Title: <%= movieObject.title %></li><br>
                                    <li>Year: <%= movieObject.year %></li><br>
                                    <li>Rating: <%= movieObject.json.imdbRating %></li><br>
                                    <li>Genre: <%= movieObject.genre %></li><br>
                                    <li>director: <%= movieObject.director %></li><br>
                                    <li>Actors: <%= movieObject.actors %></li><br>     
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <% }); %> 
                <% } %>

            </section>

        </main>
    </div>
    
    <% include ../partials/footer %>
    <% include ../partials/scripts %>

</body>

</html>